#.htaccess engine start
RewriteEngine On

#remove .php or any extension from url
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

#redirect to index page when hit home page
Redirect 301 /php-lang/home http://localhost/php-lang/index

#redirect to error page when file not found
ErrorDocument 404 /php-lang/notfound.php

#force to https
#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#add www to url
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule (.*) https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#force redirect to a url when you enter any url
#RewriteRule ^(.*)$ https://www.storystar.com/ [R=301,L]

#force redirect to a url when you enter a specific url
#RewriteCond %{REQUEST_URI} ^/php-lang/storystar$
#RewriteRule ^(.*)$ https://www.storystar.com [R=301,L]

#use for both add www to url and force to https
#<IfModule mod_rewrite.c>
#	RewriteCond %{HTTPS} off
#	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	
#	RewriteCond %{HTTP_HOST} !^www\. [NC]
#	RewriteRule (.*) https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#</IfModule>
